 body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: Arial;
    overflow: hidden;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('h1vzr8lt3sh71.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}



#player {
    width: 300px;
    height: 300px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    right: 5%; 
    bottom: 10%;
}

button {
    padding: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(255, 224, 224);
    color: rgb(17, 17, 17);
    border: none;
    border-radius: 100px;
    width: 100px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 30px;
}




